source ~/.vimrc 

" plugins
set surround
set commentary
set NERDTree
set textobj-indent
set vim-paragraph-motion
set argtextobj

" plugins settings (NERDTree)
map <leader>hh :NERDTree<cr>
map <leader>ht :NERDTreeToggle<cr>

" idea settings
set ideajoin
set idearefactormode=keep

" source .ideavimrc
nnoremap \v :source ~/.ideavimrc<cr>

" searching
nnoremap <leader>/ :action Find<cr> 

" project navigation
map <leader>hf <Action>(SelectInProjectView)

" window management
map <leader>qq <Action>(CloseEditor)
map <leader>qa <Action>(CloseAllEditors)
map <leader>qo <Action>(CloseAllEditorsButActive)

" tab navigation
nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gk
nnoremap <c-tab> gt

" code navigation
map <leader>ip <Action>(ParameterInfo)
map <leader>iu <Action>(ShowUsages)
map <leader>ii <Action>(GotoImplementation)
map <leader>ge <Action>(ReSharperGotoNextErrorInSolution)

map <a-j> <Action>(MoveStatementDown)
map <a-k> <Action>(MoveStatementUp)

nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>

" code editing (saving / pasting)
map <leader>s <Action>(SaveAll)
map <leader>pm <Action>(PasteMultiple)
map <leader>pc "+p

" code editing (renaming / formatting)
nnoremap gcc <Action>(CommentByLineComment)
map <leader>rm <Action>(Move)
map <leader>rf <Action>(ReformatCode)
map <leader>rr <Action>(RenameElement)
map <leader>ro <Action>(OptimizeImports)
map <leader>al <Action>(ShowIntentionActions)

" code generation
map <leader>ce <Action>(NewElement)
map <leader>ce <Action>(Generate)
map <leader>cx <Action>(ExtractMethod)

" toggle distraction free mode
map <leader>z <Action>(ToggleDistractionFreeMode)

" debugging
map <leader>dd <Action>(Debug)
map <leader>dl <Action>(ToggleLineBreakpoint)
map <leader>ds <Action>(Stop)
