configuration {
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

  icon-theme: "Papirus";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  sidebar-mode: true;
  show-icons: true;
}

@theme "gruvbox.rasi"
