configuration {
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

  icon-theme: "Papirus";

  combi-modes: "window";
  modes: "window";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  show-icons: true;
}

@theme "gruvbox.rasi"
